# Wrangle and Analyze Data

In [12]:
import pandas as pd
import numpy as np
import requests
import tweepy as tweepy
import json
from timeit import default_timer as timer

## Gather Data

### Load the tweets from the archive

In [2]:
# Read in the twitter archive enhanced csv given to us
df_twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
'{} tweets loaded from the archive'.format(len(df_twitter_archive))

'2356 tweets loaded from the archive'

### Get the image predictions

In [3]:
# Get the file from Udacity servers
image_predictions_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
image_predictions_response = requests.get(image_predictions_url);

# response status should be 200
print('Response Status {}'.format(image_predictions_response))

# save to file system
with open(image_predictions_url.split('/')[-1], mode='wb') as file:
    file.write(image_predictions_response.content)

# Load the dataframe
df_image_predictions = pd.read_csv('image-predictions.tsv', sep='\t')
'load {} image prediction from the tsv file'.format(len(df_image_predictions.head()))

Response Status <Response [200]>

'load 5 image prediction from the tsv file'

### Query tweets'status from Twitter

In [4]:
consumer_token = '1CWL9OEQCIo7TAmrrHtzTCDML'
consumer_secret = 'AeNMfj3cdGt7tAStopY5fUJRzLlFKml0zHA2P1n6OQ40IF3q3U'
access_token = '150976386-3w2ZXZE6gJaq4WjIH9wb9rOLLJ2WOswdiT0Kg1AH'
access_secret = '0kV0KVAV2cZxpei37mPxuV8QyRdumYnM13C0ZocFsOL7z'

auth = tweepy.OAuthHandler(consumer_token, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth)

In [10]:
df_list = []
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in df_twitter_archive.tweet_id.values:
        try:
            tweet = api.get_status(tweet_id,
                                  wait_on_rate_limit = True, wait_on_rate_limit_notify = True)
            #print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
#            favorite_count = tweet['favorite_count'] # How many favorites the tweet had
#            retweet_count = tweet['retweet_count'] # Count of the retweet 
#            df_list.append({'tweet_id': int(tweet_id),
#                        'favorite_count': int(favorite_count),
#                        'retweet_count': int(retweet_count)})

        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
#print('Retrieve {} status info'.format(len(fails_dict)))
print('Fail retrieval {}'.format(len(fails_dict)))

# Save the result in a file to avoid further API call
#df = pd.DataFrame(df_list, columns = ['tweet_id', 'favorite_count', 'retweet_count'])
#df.to_csv('tweet_json.txt', index=False)

Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Fail
Rate limit reached. Sleeping for: 535
Fail
Fail
Rate limit reached. Sleeping for: 664
1831.1260338929997
Fail retrieval 19

In [17]:
#len(fails_dict)

tweet_list = []

# Read the .txt file line by line into a list of dictionaries
for line in open('tweet_json.txt', 'r'):
    d = json.loads(line)
    #print(d)
    tweet_list.append({'tweet_id': d['id_str'],
                     'retweet_count': d['retweet_count'],
                     'favorite_count': d['favorite_count']})
    
# Save the result to a file to avoie further API call
df = pd.DataFrame(tweet_list, columns = ['tweet_id', 'favorite_count', 'retweet_count'])
df.to_csv('tweet_json.csv', index=False)  
len(df)

2337

In [18]:
df_tweet_data = pd.read_csv('tweet_json.csv')
'Load {} tweet status from Twitter'.format(len(df_tweet_data))

'Load 2337 tweet status from Twitter'

## Assess Data

In [151]:
df_twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
df_image_predictions = pd.read_csv('image-predictions.tsv', sep='\t')
df_tweet_data = pd.read_csv('tweet_json.csv')

### Visual assessment of the 3 dataframes

In [152]:
df_twitter_archive.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
114,870656317836468226,NaN,NaN,2017-06-02 15:00:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cody. He zoomed too aggressively and t...,NaN,NaN,NaN,https://www.gofundme.com/help-fix-codys-torn-a...,13,10,Cody,None,None,None,None
1372,702217446468493312,NaN,NaN,2016-02-23 19:44:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I know it's tempting, but please stop sending ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/702217446...,9,10,None,None,None,None,None
801,772581559778025472,NaN,NaN,2016-09-04 23:46:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Guys this is getting so out of hand. We only r...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/772581559...,10,10,a,None,None,None,None
2051,671488513339211776,NaN,NaN,2015-12-01 00:38:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Julius. He's a cool dog. Carries seash...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671488513...,8,10,Julius,None,None,None,None
856,764259802650378240,NaN,NaN,2016-08-13 00:38:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kota and her son Benedict. She doesn't...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/764259802...,10,10,Kota,None,None,None,None
1130,729113531270991872,NaN,NaN,2016-05-08 00:59:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Challenge accepted""\n10/10 https://t.co/vNjvr...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/729113531...,10,10,None,None,None,None,None
2150,669683899023405056,NaN,NaN,2015-11-26 01:07:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kloey. Her mother was a unicorn. 10/10...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669683899...,10,10,Kloey,None,None,None,None
1648,683773439333797890,NaN,NaN,2016-01-03 22:14:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Buddy. He's gaining strength. Currentl...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/683773439...,9,10,Buddy,None,None,None,None
1171,720415127506415616,NaN,NaN,2016-04-14 00:55:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Garden's coming in nice this year. 10/10 https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/720415127...,10,10,None,None,None,None,None
764,777953400541634568,NaN,NaN,2016-09-19 19:31:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Gerald. He's a fairly exot...,7.681934e+17,4.196984e+09,2016-08-23 21:09:14 +0000,https://twitter.com/dog_rates/status/768193404...,8,10,Gerald,doggo,None,None,None

In [153]:
df_image_predictions.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
901,700002074055016451,https://pbs.twimg.com/media/CbboKP4WIAAw8xq.jpg,1,Chihuahua,0.369488,True,schipperke,0.243367,True,pug,0.161614,True
265,670803562457407488,https://pbs.twimg.com/media/CU8sSAvXIAAB1Py.jpg,1,basenji,0.344101,True,Ibizan_hound,0.210282,True,toy_terrier,0.196279,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
616,680191257256136705,https://pbs.twimg.com/media/CXCGVXyWsAAAVHE.jpg,1,Brittany_spaniel,0.733253,True,Welsh_springer_spaniel,0.251634,True,English_springer,0.009243,True
1719,819227688460238848,https://pbs.twimg.com/media/C157Oq3WQAEOyHm.jpg,1,Border_terrier,0.482452,True,German_shepherd,0.181082,True,Norwegian_elkhound,0.065257,True
1235,746507379341139972,https://pbs.twimg.com/media/Clwgf4bWgAAB15c.jpg,1,toy_poodle,0.508292,True,Lakeland_terrier,0.234458,True,affenpinscher,0.084563,True
1940,860924035999428608,https://pbs.twimg.com/media/C_KVJjDXsAEUCWn.jpg,2,envelope,0.933016,False,oscilloscope,0.012591,False,paper_towel,0.011178,False
65,667174963120574464,https://pbs.twimg.com/media/CUJIFoJWsAAL3Dc.jpg,1,toy_poodle,0.266437,True,Chihuahua,0.243223,True,bluetick,0.072806,True
2031,883117836046086144,https://pbs.twimg.com/media/DEF2-_hXoAAs62q.jpg,2,golden_retriever,0.949562,True,Labrador_retriever,0.045948,True,kuvasz,0.002471,True
1686,814638523311648768,https://pbs.twimg.com/media/C04taUjWIAA6Mo4.jpg,2,golden_retriever,0.650814,True,kuvasz,0.053281,True,cocker_spaniel,0.035440,True

In [154]:
df_tweet_data.sample(10)

                tweet_id  favorite_count  retweet_count
2226  667885044254572545             813            490
469   815390420867969024           10933           4113
1049  740676976021798912           18821           7158
153   860924035999428608               0            819
722   780858289093574656            7594           2159
1285  707420581654872064            2358            724
1501  690735892932222976            3933           1340
201   852226086759018497           20337           7006
451   817415592588222464            5912           1039
1336  703631701117943808            2693            721

**Tweeter Archive**:
* The format of values for columns `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp` and `timestamp` indicate that there's a problem of type (which would be clarified via programmatic assessemnt)
* Column `name` has some values to "None" which probalby means that the dog's name is not known => we should get null instead of "None" for those
* In columns `doggo`, `floofer`, `pupper` and `puppo` 'None' is displayed for null and when not null the value is the same as the column name. This looks like a tidiness issue: Each variable forms a column. Here the dog stage variable is spread over four columns.
* Column `source` contains markup making the reading less friendly.
* The presence of the colum `retweeted_status_id`, `retweeted_status_user_id` and `retweeted_status_timestamp` and the fact that they sometimes contain not null value indicate that there are record related to retweeted tweets which are not in the population we want analyze.

**General tidiness issue**:
* The three datasets should be combined into one since they are all part of the same observation unit.

### Programatic assessment on twitter archive

In [155]:
df_twitter_archive.info()
print("timestamp type is " + str(type(df_twitter_archive.dtypes.timestamp.kind)))
print("retweeted_status_timestamp type is " + str(type(df_twitter_archive.dtypes.timestamp.kind)))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB
timestamp type is <class 'str'>
retweeted_status_timestamp type is <class 'str'>

In [156]:
'There are {} duplicate in the twitter archive'.format(len(df_twitter_archive[df_twitter_archive.tweet_id.duplicated()]))

'There are 0 duplicate in the twitter archive'

In [157]:
print(df_twitter_archive.source.value_counts())
print("There's just four different sources")

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64
There's just four different sources

In [158]:
# Describe only numerator and denominator since the other numerical values are identifiers.
df_twitter_archive.describe()['rating_denominator'], df_twitter_archive.describe()['rating_numerator']

(count    2356.000000
 mean       10.455433
 std         6.745237
 min         0.000000
 25%        10.000000
 50%        10.000000
 75%        10.000000
 max       170.000000
 Name: rating_denominator, dtype: float64, count    2356.000000
 mean       13.126486
 std        45.876648
 min         0.000000
 25%        10.000000
 50%        11.000000
 75%        12.000000
 max      1776.000000
 Name: rating_numerator, dtype: float64)

In [159]:
df_twitter_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [160]:
df_twitter_archive.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [161]:
# View tweets with decimals in rating in 'text' column
df_decimals = df_twitter_archive[df_twitter_archive.text.str.contains(r"(\d+\.\d*\/\d+)")]

ratings = df_decimals.text.str.extract('((?:\d+\.)?\d+)\/(\d+)', expand=True).rename(columns={0: 'extract_rating_numerator', 1: 'extract_rating_denominator'})
pd.concat([df_decimals[['tweet_id','rating_numerator']],ratings], axis=1)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,tweet_id,rating_numerator,extract_rating_numerator,extract_rating_denominator
45,883482846933004288,5,13.5,10
340,832215909146226688,75,9.75,10
695,786709082849828864,75,9.75,10
763,778027034220126208,27,11.27,10
1689,681340665377193984,5,9.5,10
1712,680494726643068929,26,11.26,10

**Type issues**:
* Following columns should be `int64` or `string` instead `float64`: 
    - in_reply_to_status_id
    - in_reply_to_user_id
    - retweeted_status_id
    - retweeted_status_user_id
* Following colums should be of type `datetime` instead of `object`:
    - timestamp
    - retweeted_status_timestamp
* Column `source` should be category
    
**Value issues**:
* `rating_denominator` should always be 10.
* `rating_numerator` may be extracted from the text when decimals are present.

### Programatic assessment image prediction

In [162]:
df_image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [163]:
print('There are {} duplicates in picture predictions.'.format(len(df_image_predictions[df_image_predictions['tweet_id'].duplicated()])))
print('There are {} missing picture predictions.'.format(len(df_twitter_archive) - len(df_image_predictions)))

There are 0 duplicates in picture predictions.
There are 281 missing picture predictions.

In [164]:
df_image_predictions['jpg_url'].value_counts()

https://pbs.twimg.com/media/C2kzTGxWEAEOpPL.jpg                                            2
https://pbs.twimg.com/media/Ck2d7tJWUAEPTL3.jpg                                            2
https://pbs.twimg.com/media/CkNjahBXAAQ2kWo.jpg                                            2
https://pbs.twimg.com/media/CsGnz64WYAEIDHJ.jpg                                            2
https://pbs.twimg.com/media/C12x-JTVIAAzdfl.jpg                                            2
https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg                                            2
https://pbs.twimg.com/media/CrXhIqBW8AA6Bse.jpg                                            2
https://pbs.twimg.com/media/Ct72q9jWcAAhlnw.jpg                                            2
https://pbs.twimg.com/media/CW88XN4WsAAlo8r.jpg                                            2
https://pbs.twimg.com/media/CeRoBaxWEAABi0X.jpg                                            2
https://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg                                            2
https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg                                            2
https://pbs.twimg.com/media/C2oRbOuWEAAbVSl.jpg                                            2
https://pbs.twimg.com/tweet_video_thumb/CeBym7oXEAEWbEg.jpg                                2
https://pbs.twimg.com/media/CvaYgDOWgAEfjls.jpg                                            2
https://pbs.twimg.com/media/ChK1tdBWwAQ1flD.jpg                                            2
https://pbs.twimg.com/media/CiibOMzUYAA9Mxz.jpg                                            2
https://pbs.twimg.com/media/CWza7kpWcAAdYLc.jpg                                            2
https://pbs.twimg.com/media/CpmyNumW8AAAJGj.jpg                                            2
https://pbs.twimg.com/media/CvyVxQRWEAAdSZS.jpg                                            2
https://pbs.twimg.com/media/Cveg1-NXgAASaaT.jpg                                            2
https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg                                            2
https://pbs.twimg.com/media/CVuQ2LeUsAAIe3s.jpg                                            2
https://pbs.twimg.com/media/Cs_DYr1XEAA54Pu.jpg                                            2
https://pbs.twimg.com/media/CuRDF-XWcAIZSer.jpg                                            2
https://pbs.twimg.com/media/CV_cnjHWUAADc-c.jpg                                            2
https://pbs.twimg.com/media/CwS4aqZXUAAe3IO.jpg                                            2
https://pbs.twimg.com/ext_tw_video_thumb/675354114423808004/pu/img/qL1R_nGLqa6lmkOx.jpg    2
https://pbs.twimg.com/media/CcG07BYW0AErrC9.jpg                                            2
https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg                                            2
                                                                                          ..
https://pbs.twimg.com/ext_tw_video_thumb/881535971568889856/pu/img/9bawiZ--8FKywTkz.jpg    1
https://pbs.twimg.com/media/CVQnPMrVAAAzShR.jpg                                            1
https://pbs.twimg.com/media/C5y-4VwWcAIcaoj.jpg                                            1
https://pbs.twimg.com/media/CrtYRMEWIAAUkCl.jpg                                            1
https://pbs.twimg.com/media/CaA-IR9VIAAqg5l.jpg                                            1
https://pbs.twimg.com/media/CmfoyrrW8AA8v7w.jpg                                            1
https://pbs.twimg.com/media/CpWnecZWIAAUFwt.jpg                                            1
https://pbs.twimg.com/media/CoAqwPTW8AAiJlz.jpg                                            1
https://pbs.twimg.com/ext_tw_video_thumb/739238016737267712/pu/img/-tLpyiuIzD5zR1et.jpg    1
https://pbs.twimg.com/media/DDXmPrbWAAEKMvy.jpg                                            1
https://pbs.twimg.com/media/CV1ZA3oWEAA1HW_.jpg                                            1
https://pbs.twimg.com/media/CaBVE80WAAA8sGk.jpg                                            1
https://pbs.twimg.com/media/CUxLJO8U8AAu6Zu.jpg                                            1
https://pbs.twimg.com/media/CxuM3oZW8AEhO5z.jpg                                            1
https://pbs.twimg.com/media/DAr0tDZXUAEMvdu.jpg                                            1
https://pbs.twimg.com/media/CbxjnyOWAAAWLUH.jpg                                            1
https://pbs.twimg.com/media/CVl7u00WcAAufzR.jpg                                            1
https://pbs.twimg.com/media/ClqGl7fXIAA8nDe.jpg                                            1
https://pbs.twimg.com/media/CZv13u5WYAA6wQe.jpg                                            1
https://pbs.twimg.com/media/CfAHv83UMAIEQYx.jpg                                            1
https://pbs.twimg.com/media/CnLmRiYXEAAO_8f.jpg                                            1
https://pbs.twimg.com/media/CyNPmJgXcAECPuB.jpg                                            1
https://pbs.twimg.com/media/CUjKHs0WIAECWP3.jpg                                            1
https://pbs.twimg.com/media/Cf3sH62VAAA-LiP.jpg                                            1
https://pbs.twimg.com/media/CdNOb17WwAA5z4A.jpg                                            1
https://pbs.twimg.com/media/Ca31BTgWwAA4uNU.jpg                                            1
https://pbs.twimg.com/media/CUImtzEVAAAZNJo.jpg                                            1
https://pbs.twimg.com/media/CrOBSfgXgAABsTE.jpg                                            1
https://pbs.twimg.com/media/CoOTyXJXEAAtjs9.jpg                                            1
https://pbs.twimg.com/media/Cdtu3WRUkAAsRVx.jpg                                            1
Name: jpg_url, Length: 2009, dtype: int64

In [165]:
df_image_predictions[df_image_predictions['jpg_url'] == 'https://pbs.twimg.com/media/Co-hmcYXYAASkiG.jpg'].tweet_id

1360    761004547850530816
1522    788070120937619456
Name: tweet_id, dtype: int64

In [166]:
str(df_twitter_archive[df_twitter_archive.tweet_id == 761004547850530816].retweeted_status_id), str(df_twitter_archive[df_twitter_archive.tweet_id == 788070120937619456].retweeted_status_id)

('876   NaN\nName: retweeted_status_id, dtype: float64',
 '686    7.610045e+17\nName: retweeted_status_id, dtype: float64')

Issue summary:
* There are missing record
* reteweeted are present

### Programatic assessment tweet data

In [167]:
df_tweet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 3 columns):
tweet_id          2337 non-null int64
favorite_count    2337 non-null int64
retweet_count     2337 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

In [168]:
print('There are {} duplicates in tweet data.'.format(len(df_tweet_data[df_tweet_data.tweet_id.duplicated()])))
print('There are {} missing tweet data.'.format(len(df_twitter_archive) - len(df_tweet_data)))

There are 0 duplicates in tweet data.
There are 19 missing tweet data.

### Assessment summary

#### Quality issues

* Common dataset:
    - there are records related to retweeted tweet
    - missing record in **picture prediction** and **tweet data** datasets
* **twitter achive dataset**:
    - Following columns should be int64 or string instead float64: `in_reply_to_status_id`, `in_reply_to_user_id`
    - Following columns are relative to retweeted and so should be removed: `retweeted_status_id`, `retweeted_status_user_id` and `retweeted_status_timestamp`
    - Column `timestamp` should be of type datetime instead of object
    - Column `name` contain invalid values (ex.: "None" instead of `Nan` when null)
    - Column `source` should be a category.
    - Column `source` should be friendly (remove markup).
    - Column `rating_denominator` contains values other that "10"
    
    
#### Tidiness issues

* The three datasets should be combined into one since they are all part of the same observation unit.
* In **Twitter archive** the columns `doggo`, `floofer`, `pupper` and `puppo` are in fact the same variable and so should be combined into one column

## Clean Data

In [169]:
df_twitter_archive_clean = df_twitter_archive.copy()
df_image_predictions_clean = df_image_predictions.copy()
df_tweet_data_clean = df_tweet_data.copy()

### Clean 2 tidiness issues

#### Issue #1: Tweets is one observation unit

##### Define

Merge all the dataset

##### Code

In [170]:
df_twitter_archive_clean = pd.merge(left=df_twitter_archive_clean,
                                 right=df_tweet_data_clean, left_on='tweet_id', right_on='tweet_id', how='inner')

In [171]:
df_twitter_archive_clean = df_twitter_archive_clean.merge(df_image_predictions_clean, on='tweet_id', how='inner')

##### Test

In [172]:
df_twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2065 entries, 0 to 2064
Data columns (total 30 columns):
tweet_id                      2065 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2065 non-null object
source                        2065 non-null object
text                          2065 non-null object
retweeted_status_id           75 non-null float64
retweeted_status_user_id      75 non-null float64
retweeted_status_timestamp    75 non-null object
expanded_urls                 2065 non-null object
rating_numerator              2065 non-null int64
rating_denominator            2065 non-null int64
name                          2065 non-null object
doggo                         2065 non-null object
floofer                       2065 non-null object
pupper                        2065 non-null object
puppo                         2065 non-null object
favorite_count                2065 non-null int64
retweet_count                 2065 non-null int64
jpg_url                       2065 non-null object
img_num                       2065 non-null int64
p1                            2065 non-null object
p1_conf                       2065 non-null float64
p1_dog                        2065 non-null bool
p2                            2065 non-null object
p2_conf                       2065 non-null float64
p2_dog                        2065 non-null bool
p3                            2065 non-null object
p3_conf                       2065 non-null float64
p3_dog                        2065 non-null bool
dtypes: bool(3), float64(7), int64(6), object(14)
memory usage: 457.8+ KB

#### Issue #2: Dog Life Stage

##### Define
Melt column `doggo`, `floofer`, `pupper`, `puppo` into on column name `life_stage`. Take care of the multiple dog stage sometimes possible for one row.

##### Code

In [173]:
to_melt = ['doggo', 'floofer', 'pupper', 'puppo']
to_stay = [x for x in df_twitter_archive_clean.columns.tolist() if x not in to_melt]

df_twitter_archive_clean = pd.melt(df_twitter_archive_clean, id_vars = to_stay, value_vars = to_melt, 
                         var_name = 'stages', value_name = 'life_stage')
df_twitter_archive_clean = df_twitter_archive_clean.drop('stages', 1)
df_twitter_archive_clean = df_twitter_archive_clean.sort_values('life_stage').drop_duplicates('tweet_id', keep = 'last')
df_twitter_archive_clean

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,life_stage
1988,667435689202614272,NaN,NaN,2015-11-19 20:14:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Ermergerd 12/10 https://t.co/PQni2sjPsm,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667435689...,...,Rottweiler,0.999091,True,miniature_pinscher,0.000450,True,black-and-tan_coonhound,0.000157,True,None
1987,667437278097252352,NaN,NaN,2015-11-19 20:20:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Never seen this breed before. Very pointy pup....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667437278...,...,porcupine,0.989154,False,bath_towel,0.006300,False,badger,0.000966,False,None
1986,667443425659232256,NaN,NaN,2015-11-19 20:44:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Exotic dog here. Long neck. Weird paws. Obsess...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667443425...,...,goose,0.980815,False,drake,0.006918,False,hen,0.005255,False,None
1985,667453023279554560,NaN,NaN,2015-11-19 21:22:56 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Meet Cupcake. I would do unspeakable things fo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667453023...,...,Labrador_retriever,0.825670,True,French_bulldog,0.056639,True,Staffordshire_bullterrier,0.054018,True,None
1984,667455448082227200,NaN,NaN,2015-11-19 21:32:34 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is Reese and Twips. Reese protects Twips....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667455448...,...,Tibetan_terrier,0.676376,True,Irish_terrier,0.054933,True,Yorkshire_terrier,0.040576,True,None
1983,667470559035432960,NaN,NaN,2015-11-19 22:32:36 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a northern Wahoo named Kohl. He runs t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667470559...,...,toy_poodle,0.304175,True,pug,0.223427,True,Lakeland_terrier,0.073316,True,None
1982,667491009379606528,NaN,NaN,2015-11-19 23:53:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Two dogs in this one. Both are rare Jujitsu Py...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667491009...,...,borzoi,0.852088,True,ice_bear,0.132264,False,weasel,0.005730,False,None
1981,667495797102141441,NaN,NaN,2015-11-20 00:12:54 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is Philippe from Soviet Russia. Commandin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667495797...,...,Chihuahua,0.143957,True,Christmas_stocking,0.118651,False,ski_mask,0.092482,False,None
1980,667502640335572993,NaN,NaN,2015-11-20 00:40:05 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Say hello to Hall and Oates. Oates is winking ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667502640...,...,Labrador_retriever,0.996709,True,golden_retriever,0.001688,True,beagle,0.000712,True,None
1979,667509364010450944,NaN,NaN,2015-11-20 01:06:48 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This a Norwegian Pewterschmidt named Tickles. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667509364...,...,beagle,0.636169,True,Labrador_retriever,0.119256,True,golden_retriever,0.082549,True,None
1978,667517642048163840,NaN,NaN,2015-11-20 01:39:42 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is Dook &amp; Milo. Dook is struggling to...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667517642...,...,Italian_greyhound,0.125176,True,standard_poodle,0.084572,True,cocker_spaniel,0.081347,True,None
1977,667524857454854144,NaN,NaN,2015-11-20 02:08:22 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Another topnotch dog. His name is Big Jumpy Ra...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667524857...,...,hare,0.447893,False,dhole,0.092435,False,Chesapeake_Bay_retriever,0.088122,True,None
1976,667530908589760512,NaN,NaN,2015-11-20 02:32:25 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Meet Naphaniel. He doesn't necessarily enjoy h...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667530908...,...,golden_retriever,0.633037,True,kuvasz,0.146391,True,Labrador_retriever,0.046184,True,None
1989,667405339315146752,NaN,NaN,2015-11-19 18:13:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Biden. Biden just tripped... 7/10 http...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667405339...,...,Saint_Bernard,0.381377,True,Leonberg,0.127998,True,golden_retriever,0.069357,True,None
1975,667534815156183040,NaN,NaN,2015-11-20 02:47:56 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","This is Frank (pronounced ""Fronq""). Too many b...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/667534815...,...,Pembroke,0.435254,True,Cardigan,0.307407,True,cocker_spaniel,0.033158,True,None
1973,667544320556335104,NaN,NaN,2015-11-20 03:25:43 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","This is Kial. Kial is either wearing a cape, w...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/667544320...,...,Pomeranian,0.412893,True,Pembroke,0.312958,True,Chihuahua,0.071960,True,None
1972,667546741521195010,NaN,NaN,2015-11-20 03:35:20 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Here is George. George took a selfie of his ne...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667546741...,...,toy_poodle,0.787424,True,miniature_poodle,0.202225,True,teddy,0.004047,False,None
1971,667549055577362432,NaN,NaN,2015-11-20 03:44:31 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Never seen dog like this. Breathes heavy. Tilt...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667549055...,...,electric_fan,0.984377,False,spotlight,0.007737,False,lampshade,0.001901,False,None
1970,667550882905632768,NaN,NaN,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dogratingrating/status/667...,...,web_site,0.998258,False,dishwasher,0.000201,False,oscilloscope,0.000142,False,None
1969,667550904950915073,NaN,NaN,2015-11-20 03:51:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Exceptional talent. Origi...,6.675487e+17,4.296832e+09,2015-11-20 03:43:06 +0000,https://twitter.com/dogratingrating/status/667...,...,web_site,0.999335,False,vizsla,0.000081,True,collie,0.000069,True,None
1968,667724302356258817,NaN,NaN,2015-11-20 15:20:54 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",What a dog to start the day with. Very calm. L...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667724302...,...,ibex,0.619098,False,bighorn,0.125119,False,ram,0.074673,False,None
1967,667728196545200128,NaN,NaN,2015-11-20 15:36:22 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Meet Olive. He comes to spot by tree to remini...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667728196...,...,kuvasz,0.360159,True,golden_retriever,0.293744,True,Labrador_retriever,0.270673,True,None
1966,667766675769573376,NaN,NaN,2015-11-20 18:09:16 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is Calvin. He is a Luxembourgian Mayo. Ha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667766675...,...,fire_engine,0.883493,False,tow_truck,0.074734,False,jeep,0.012773,False,None
1965,667773195014021121,NaN,NaN,2015-11-20 18:35:10 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a rare Hungarian Pinot named Jessiga. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667773195...,...,West_Highland_white_terrier,0.360465,True,pug,0.093494,True,ice_bear,0.069038,False,None
1964,667782464991965184,NaN,NaN,2015-11-20 19:12:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Super rare dog. Endangered (?). Thinks it's fu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667782464...,...,lorikeet,0.466149,False,hummingbird,0.083011,False,African_grey,0.054247,False,None
1963,667793409583771648,NaN,NaN,2015-11-20 19:55:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Dogs only please. Small cows and other non can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667793409...,...,dalmatian,0.535073,True,English_setter,0.451219,True,Great_Dane,0.008164,True,None
1962,667801013445750784,NaN,NaN,2015-11-20 20:25:43 +0000,"<a href=""http://twitter.com/download/iphone"" r...",OMIGOD 12/10 https://t.co/SVMF4Frf1w,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667801013...,...,flat-coated_retriever,0.508392,True,Chesapeake_Bay_retriever,0.262239,True,curly-coated_retriever,0.048920,True,None
1961,667806454573760512,NaN,NaN,2015-11-20 20:47:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Filup. He is overcome with joy after f...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667806454...,...,toyshop,0.253089,False,Chihuahua,0.187155,True,Brabancon_griffon,0.112799,True,None
1974,667538891197542400,NaN,NaN,2015-11-20 03:04:08 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a southwest Coriander named Klint. Hat...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667538891...,...,Yorkshire_terrier,0.618957,True,silky_terrier,0.300313,True,Australian_terrier,0.053412,True,None
1960,667832474953625600,NaN,NaN,2015-11-20 22:30:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",THE EYES 12/10\n\nI'm sorry. These are suppose...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667832474...,...,miniature_pinscher,0.214200,True,bath_towel,0.146789,False,Chihuahua,0.104152,True,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5379,692828166163931137,NaN,NaN,2016-01-28 21:54:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This pupper just descended from heaven. 12/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692828166...,...,Samoyed,0.985857,True,Arctic_fox,0.007852,False,white_wolf,0.003278,False,pupper
4737,778027034220126208,NaN,NaN,2016-09-20 00:24:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sophie. She's a Jubilant Bush Pupper. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778027034...,...,clumber,0.946718,True,cocker_spaniel,0.015950,True,Lhasa,0.006519,True,pupper
4919,750071704093859840,NaN,NaN,2016-07-04 21:00:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Pause your cookout and admire this pupper's ni...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/750071704...,...,redbone,0.382113,True,malinois,0.249943,True,miniature_pinscher,0.070926,True,pupper
5248,704761120771465216,NaN,NaN,2016-03-01 20:11:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This pupper killed this great white in an epic...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704761120...,...,Siamese_cat,0.202294,False,Chihuahua,0.100418,True,basenji,0.072097,True,pupper
5376,692905862751522816,NaN,NaN,2016-01-29 03:03:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Wally. He's being abducted by aliens. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692905862...,...,Mexican_hairless,0.162638,True,Doberman,0.156287,True,Rhodesian_ridgeback,0.081478,True,pupper
5676,676470639084101634,NaN,NaN,2015-12-14 18:35:43 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Three generations of pupper. 11/10 for all htt...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/676470639...,...,golden_retriever,0.790386,True,borzoi,0.022885,True,dingo,0.015343,False,pupper
6518,822872901745569793,NaN,NaN,2017-01-21 18:26:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a super supportive puppo participating ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/822872901...,...,Lakeland_terrier,0.196015,True,Labrador_retriever,0.160329,True,Irish_terrier,0.069126,True,puppo
6504,825535076884762624,NaN,NaN,2017-01-29 02:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a very loving and accepting puppo. Appe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/825535076...,...,Rottweiler,0.681495,True,Tibetan_mastiff,0.147940,True,black-and-tan_coonhound,0.024525,True,puppo
6207,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,...,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True,puppo
6346,855851453814013952,NaN,NaN,2017-04-22 18:31:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo participating in the #ScienceMa...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/855851453...,...,flat-coated_retriever,0.321676,True,Labrador_retriever,0.115138,True,groenendael,0.096100,True,puppo
6209,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,...,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True,puppo
7077,738537504001953792,NaN,NaN,2016-06-03 01:07:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bayley. She fell asleep trying to esca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/738537504...,...,chow,0.808737,True,gibbon,0.028942,False,Pembroke,0.026498,True,puppo
6961,752519690950500352,NaN,NaN,2016-07-11 15:07:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Hopefully this puppo on a swing will help get ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/752519690...,...,swing,0.999984,False,Labrador_retriever,0.000010,True,Eskimo_dog,0.000001,True,puppo
6942,756275833623502848,NaN,NaN,2016-07-21 23:53:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When ur older siblings get to play in the deep...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/756275833...,...,Airedale,0.602957,True,Irish_terrier,0.086981,True,bloodhound,0.086276,True,puppo
6332,859607811541651456,NaN,NaN,2017-05-03 03:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Sorry for the lack of posts today. I came home...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/859607811...,...,golden_retriever,0.895529,True,Irish_setter,0.024099,True,Labrador_retriever,0.019285,True,puppo
6538,819952236453363712,NaN,NaN,2017-01-13 17:00:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. He has dreams of being a servi...,NaN,NaN,NaN,"https://www.gofundme.com/servicedogoliver,http...",...,American_Staffordshire_terrier,0.925505,True,Staffordshire_bullterrier,0.036221,True,Italian_greyhound,0.020412,True,puppo
6637,803773340896923648,NaN,NaN,2016-11-30 01:31:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Diogi. He fell in the pool as soon as ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/803773340...,...,miniature_pinscher,0.817066,True,redbone,0.059707,True,Irish_terrier,0.034195,True,puppo
6780,780931614150983680,NaN,NaN,2016-09-28 00:46:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I want to finally rate this iconic puppo who t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/780931614...,...,padlock,0.731564,False,necklace,0.065462,False,chain,0.036469,False,puppo
6742,787717603741622272,NaN,NaN,2016-10-16 18:11:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tonks. She is a service puppo. Can hea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/787717603...,...,German_shepherd,0.992339,True,malinois,0.004920,True,kelpie,0.000853,True,puppo
6258,878776093423087618,NaN,NaN,2017-06-25 00:45:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Snoopy. He's a proud #PrideMonthPuppo....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/878776093...,...,Italian_greyhound,0.734684,True,whippet,0.150487,True,Ibizan_hound,0.039725,True,puppo
6563,816829038950027264,NaN,NaN,2017-01-05 02:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Betty. She's assisting ...,7.909461e+17,4.196984e+09,2016-10-25 16:00:09 +0000,https://twitter.com/dog_rates/status/790946055...,...,dishwasher,0.700466,False,golden_retriever,0.245773,True,chow,0.039012,True,puppo
7046,743253157753532416,NaN,NaN,2016-06-16 01:25:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kilo. He cannot reach the snackum. Nif...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/743253157...,...,malamute,0.442612,True,Siberian_husky,0.368137,True,Eskimo_dog,0.177822,True,puppo
6301,867421006826221569,NaN,NaN,2017-05-24 16:44:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Shikha. She just watched you drop a sk...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/867421006...,...,Eskimo_dog,0.616457,True,Siberian_husky,0.381330,True,malamute,0.001670,True,puppo
6706,793195938047070209,NaN,NaN,2016-10-31 21:00:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Lily. She's pupset that her costu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/793195938...,...,Labrador_retriever,0.654762,True,golden_retriever,0.074100,True,Chihuahua,0.042339,True,puppo
6722,790946055508652032,NaN,NaN,2016-10-25 16:00:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Betty. She's assisting with the dishes...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/790946055...,...,dishwasher,0.700466,False,golden_retriever,0.245773,True,chow,0.039012,True,puppo
7035,744995568523612160,NaN,NaN,2016-06-20 20:49:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Abby. She got her face stuck in a glas...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/744995568...,...,Old_English_sheepdog,0.427481,True,Shih-Tzu,0.146336,True,Tibetan_terrier,0.134269,True,puppo
6506,825026590719483904,NaN,NaN,2017-01-27 17:04:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Pablo. He's one gorgeous puppo. A...,NaN,NaN,NaN,https://www.gofundme.com/my-puppys-double-cata...,...,Eskimo_dog,0.524454,True,Siberian_husky,0.467678,True,malamute,0.004976,True,puppo
6275,874012996292530176,NaN,NaN,2017-06-11 21:18:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sebastian. He can't see all the colors...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/874012996...,...,Cardigan,0.806674,True,Pembroke,0.116622,True,kelpie,0.049182,True,puppo
6647,802239329049477120,NaN,NaN,2016-11-25 19:55:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Loki. He'll do your taxes for you. Can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/802239329...,...,Eskimo_dog,0.482498,True,Siberian_husky,0.335774,True,malamute,0.134589,True,puppo
6973,751132876104687617,NaN,NaN,2016-07-07 19:16:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cooper. He's just so damn happy. 10/10...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751132876...,...,Labrador_retriever,0.929390,True,Chesapeake_Bay_retriever,0.038254,True,golden_retriever,0.007610,True,puppo

In [174]:
# Visualize the case of multiple dog stage.
df_twitter_archive.groupby(["doggo", "floofer", "pupper", "puppo"]).size().reset_index().rename(columns={0: "count"})

   doggo  floofer  pupper  puppo  count
0   None     None    None   None   1976
1   None     None    None  puppo     29
2   None     None  pupper   None    245
3   None  floofer    None   None      9
4  doggo     None    None   None     83
5  doggo     None    None  puppo      1
6  doggo     None  pupper   None     12
7  doggo  floofer    None   None      1

In [175]:
doggo_puppo = df_twitter_archive.query('doggo == "doggo" and puppo == "puppo"').tweet_id
doggo_pupper = df_twitter_archive.query('doggo == "doggo" and pupper == "pupper"').tweet_id
doggo_floofer = df_twitter_archive.query('doggo == "doggo" and floofer == "floofer"').tweet_id

df_twitter_archive_clean.loc[df_twitter_archive_clean.tweet_id.isin(doggo_puppo), 'life_stage'] = 'doggo,puppo'
df_twitter_archive_clean.loc[df_twitter_archive_clean.tweet_id.isin(doggo_pupper), 'life_stage'] = 'doggo,pupper'
df_twitter_archive_clean.loc[df_twitter_archive_clean.tweet_id.isin(doggo_floofer), 'life_stage'] = 'doggo,floofer'

##### Test

In [176]:
print(df_twitter_archive_clean.life_stage.value_counts())
print(df_twitter_archive_clean.info())

None             1744
pupper            211
doggo              67
puppo              23
doggo,pupper       11
floofer             7
doggo,floofer       1
doggo,puppo         1
Name: life_stage, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2065 entries, 1988 to 6973
Data columns (total 27 columns):
tweet_id                      2065 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     2065 non-null object
source                        2065 non-null object
text                          2065 non-null object
retweeted_status_id           75 non-null float64
retweeted_status_user_id      75 non-null float64
retweeted_status_timestamp    75 non-null object
expanded_urls                 2065 non-null object
rating_numerator              2065 non-null int64
rating_denominator            2065 non-null int64
name                          2065 non-null object
favorite_count                2065 non-null int64
retweet_count                 2065 non-null int64
jpg_url                       2065 non-null object
img_num                       2065 non-null int64
p1                            2065 non-null object
p1_conf                       2065 non-null float64
p1_dog                        2065 non-null bool
p2                            2065 non-null object
p2_conf                       2065 non-null float64
p2_dog                        2065 non-null bool
p3                            2065 non-null object
p3_conf                       2065 non-null float64
p3_dog                        2065 non-null bool
life_stage                    2065 non-null object
dtypes: bool(3), float64(7), int64(6), object(11)
memory usage: 409.4+ KB
None

### Clean 8 quality issues

#### Issue #1: Remove retweeted from twitter archive

##### Define

Remove rows where `retweeted_status_id` is not null.

##### Code

In [177]:
print('number of retweedted {}.'.format(len(df_twitter_archive_clean[df_twitter_archive_clean.retweeted_status_id.notnull()])))
df_twitter_archive_clean = df_twitter_archive_clean[pd.isnull(df_twitter_archive_clean.retweeted_status_id)]
df_twitter_archive_clean

number of retweedted 75.

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,life_stage
1988,667435689202614272,NaN,NaN,2015-11-19 20:14:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Ermergerd 12/10 https://t.co/PQni2sjPsm,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667435689...,...,Rottweiler,0.999091,True,miniature_pinscher,0.000450,True,black-and-tan_coonhound,0.000157,True,None
1987,667437278097252352,NaN,NaN,2015-11-19 20:20:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Never seen this breed before. Very pointy pup....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667437278...,...,porcupine,0.989154,False,bath_towel,0.006300,False,badger,0.000966,False,None
1986,667443425659232256,NaN,NaN,2015-11-19 20:44:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Exotic dog here. Long neck. Weird paws. Obsess...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667443425...,...,goose,0.980815,False,drake,0.006918,False,hen,0.005255,False,None
1985,667453023279554560,NaN,NaN,2015-11-19 21:22:56 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Meet Cupcake. I would do unspeakable things fo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667453023...,...,Labrador_retriever,0.825670,True,French_bulldog,0.056639,True,Staffordshire_bullterrier,0.054018,True,None
1984,667455448082227200,NaN,NaN,2015-11-19 21:32:34 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is Reese and Twips. Reese protects Twips....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667455448...,...,Tibetan_terrier,0.676376,True,Irish_terrier,0.054933,True,Yorkshire_terrier,0.040576,True,None
1983,667470559035432960,NaN,NaN,2015-11-19 22:32:36 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a northern Wahoo named Kohl. He runs t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667470559...,...,toy_poodle,0.304175,True,pug,0.223427,True,Lakeland_terrier,0.073316,True,None
1982,667491009379606528,NaN,NaN,2015-11-19 23:53:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Two dogs in this one. Both are rare Jujitsu Py...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667491009...,...,borzoi,0.852088,True,ice_bear,0.132264,False,weasel,0.005730,False,None
1981,667495797102141441,NaN,NaN,2015-11-20 00:12:54 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is Philippe from Soviet Russia. Commandin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667495797...,...,Chihuahua,0.143957,True,Christmas_stocking,0.118651,False,ski_mask,0.092482,False,None
1980,667502640335572993,NaN,NaN,2015-11-20 00:40:05 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Say hello to Hall and Oates. Oates is winking ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667502640...,...,Labrador_retriever,0.996709,True,golden_retriever,0.001688,True,beagle,0.000712,True,None
1979,667509364010450944,NaN,NaN,2015-11-20 01:06:48 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This a Norwegian Pewterschmidt named Tickles. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667509364...,...,beagle,0.636169,True,Labrador_retriever,0.119256,True,golden_retriever,0.082549,True,None
1978,667517642048163840,NaN,NaN,2015-11-20 01:39:42 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is Dook &amp; Milo. Dook is struggling to...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667517642...,...,Italian_greyhound,0.125176,True,standard_poodle,0.084572,True,cocker_spaniel,0.081347,True,None
1977,667524857454854144,NaN,NaN,2015-11-20 02:08:22 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Another topnotch dog. His name is Big Jumpy Ra...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667524857...,...,hare,0.447893,False,dhole,0.092435,False,Chesapeake_Bay_retriever,0.088122,True,None
1976,667530908589760512,NaN,NaN,2015-11-20 02:32:25 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Meet Naphaniel. He doesn't necessarily enjoy h...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667530908...,...,golden_retriever,0.633037,True,kuvasz,0.146391,True,Labrador_retriever,0.046184,True,None
1989,667405339315146752,NaN,NaN,2015-11-19 18:13:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Biden. Biden just tripped... 7/10 http...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667405339...,...,Saint_Bernard,0.381377,True,Leonberg,0.127998,True,golden_retriever,0.069357,True,None
1975,667534815156183040,NaN,NaN,2015-11-20 02:47:56 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","This is Frank (pronounced ""Fronq""). Too many b...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/667534815...,...,Pembroke,0.435254,True,Cardigan,0.307407,True,cocker_spaniel,0.033158,True,None
1973,667544320556335104,NaN,NaN,2015-11-20 03:25:43 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","This is Kial. Kial is either wearing a cape, w...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/667544320...,...,Pomeranian,0.412893,True,Pembroke,0.312958,True,Chihuahua,0.071960,True,None
1972,667546741521195010,NaN,NaN,2015-11-20 03:35:20 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Here is George. George took a selfie of his ne...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667546741...,...,toy_poodle,0.787424,True,miniature_poodle,0.202225,True,teddy,0.004047,False,None
1971,667549055577362432,NaN,NaN,2015-11-20 03:44:31 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Never seen dog like this. Breathes heavy. Tilt...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667549055...,...,electric_fan,0.984377,False,spotlight,0.007737,False,lampshade,0.001901,False,None
1968,667724302356258817,NaN,NaN,2015-11-20 15:20:54 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",What a dog to start the day with. Very calm. L...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667724302...,...,ibex,0.619098,False,bighorn,0.125119,False,ram,0.074673,False,None
1967,667728196545200128,NaN,NaN,2015-11-20 15:36:22 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Meet Olive. He comes to spot by tree to remini...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667728196...,...,kuvasz,0.360159,True,golden_retriever,0.293744,True,Labrador_retriever,0.270673,True,None
1966,667766675769573376,NaN,NaN,2015-11-20 18:09:16 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is Calvin. He is a Luxembourgian Mayo. Ha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667766675...,...,fire_engine,0.883493,False,tow_truck,0.074734,False,jeep,0.012773,False,None
1965,667773195014021121,NaN,NaN,2015-11-20 18:35:10 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a rare Hungarian Pinot named Jessiga. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667773195...,...,West_Highland_white_terrier,0.360465,True,pug,0.093494,True,ice_bear,0.069038,False,None
1964,667782464991965184,NaN,NaN,2015-11-20 19:12:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Super rare dog. Endangered (?). Thinks it's fu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667782464...,...,lorikeet,0.466149,False,hummingbird,0.083011,False,African_grey,0.054247,False,None
1963,667793409583771648,NaN,NaN,2015-11-20 19:55:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Dogs only please. Small cows and other non can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667793409...,...,dalmatian,0.535073,True,English_setter,0.451219,True,Great_Dane,0.008164,True,None
1962,667801013445750784,NaN,NaN,2015-11-20 20:25:43 +0000,"<a href=""http://twitter.com/download/iphone"" r...",OMIGOD 12/10 https://t.co/SVMF4Frf1w,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667801013...,...,flat-coated_retriever,0.508392,True,Chesapeake_Bay_retriever,0.262239,True,curly-coated_retriever,0.048920,True,None
1961,667806454573760512,NaN,NaN,2015-11-20 20:47:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Filup. He is overcome with joy after f...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667806454...,...,toyshop,0.253089,False,Chihuahua,0.187155,True,Brabancon_griffon,0.112799,True,None
1974,667538891197542400,NaN,NaN,2015-11-20 03:04:08 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a southwest Coriander named Klint. Hat...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667538891...,...,Yorkshire_terrier,0.618957,True,silky_terrier,0.300313,True,Australian_terrier,0.053412,True,None
1960,667832474953625600,NaN,NaN,2015-11-20 22:30:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",THE EYES 12/10\n\nI'm sorry. These are suppose...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667832474...,...,miniature_pinscher,0.214200,True,bath_towel,0.146789,False,Chihuahua,0.104152,True,None
1990,667393430834667520,NaN,NaN,2015-11-19 17:26:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Fwed. He is a Canadian Asian Taylormad...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667393430...,...,papillon,0.557009,True,Border_collie,0.271963,True,collie,0.073473,True,None
1992,667211855547486208,NaN,NaN,2015-11-19 05:24:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Genevieve. She is a golden retriever c...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667211855...,...,golden_retriever,0.462556,True,Labrador_retriever,0.454937,True,kuvasz,0.024193,True,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5716,675334060156301312,NaN,NaN,2015-12-11 15:19:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Good morning here's a grass pupper. 12/10 http...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675334060...,...,Pembroke,0.773135,True,Cardigan,0.116810,True,chow,0.039036,True,pupper
5379,692828166163931137,NaN,NaN,2016-01-28 21:54:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This pupper just descended from heaven. 12/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692828166...,...,Samoyed,0.985857,True,Arctic_fox,0.007852,False,white_wolf,0.003278,False,pupper
4737,778027034220126208,NaN,NaN,2016-09-20 00:24:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sophie. She's a Jubilant Bush Pupper. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778027034...,...,clumber,0.946718,True,cocker_spaniel,0.015950,True,Lhasa,0.006519,True,pupper
4919,750071704093859840,NaN,NaN,2016-07-04 21:00:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Pause your cookout and admire this pupper's ni...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/750071704...,...,redbone,0.382113,True,malinois,0.249943,True,miniature_pinscher,0.070926,True,pupper
5248,704761120771465216,NaN,NaN,2016-03-01 20:11:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This pupper killed this great white in an epic...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704761120...,...,Siamese_cat,0.202294,False,Chihuahua,0.100418,True,basenji,0.072097,True,pupper
5376,692905862751522816,NaN,NaN,2016-01-29 03:03:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Wally. He's being abducted by aliens. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692905862...,...,Mexican_hairless,0.162638,True,Doberman,0.156287,True,Rhodesian_ridgeback,0.081478,True,pupper
5676,676470639084101634,NaN,NaN,2015-12-14 18:35:43 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Three generations of pupper. 11/10 for all htt...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/676470639...,...,golden_retriever,0.790386,True,borzoi,0.022885,True,dingo,0.015343,False,pupper
6518,822872901745569793,NaN,NaN,2017-01-21 18:26:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a super supportive puppo participating ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/822872901...,...,Lakeland_terrier,0.196015,True,Labrador_retriever,0.160329,True,Irish_terrier,0.069126,True,puppo
6504,825535076884762624,NaN,NaN,2017-01-29 02:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a very loving and accepting puppo. Appe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/825535076...,...,Rottweiler,0.681495,True,Tibetan_mastiff,0.147940,True,black-and-tan_coonhound,0.024525,True,puppo
6207,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,...,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True,puppo
6346,855851453814013952,NaN,NaN,2017-04-22 18:31:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo participating in the #ScienceMa...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/855851453...,...,flat-coated_retriever,0.321676,True,Labrador_retriever,0.115138,True,groenendael,0.096100,True,"doggo,puppo"
6209,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,...,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True,puppo
7077,738537504001953792,NaN,NaN,2016-06-03 01:07:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bayley. She fell asleep trying to esca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/738537504...,...,chow,0.808737,True,gibbon,0.028942,False,Pembroke,0.026498,True,puppo
6961,752519690950500352,NaN,NaN,2016-07-11 15:07:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Hopefully this puppo on a swing will help get ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/752519690...,...,swing,0.999984,False,Labrador_retriever,0.000010,True,Eskimo_dog,0.000001,True,puppo
6942,756275833623502848,NaN,NaN,2016-07-21 23:53:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When ur older siblings get to play in the deep...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/756275833...,...,Airedale,0.602957,True,Irish_terrier,0.086981,True,bloodhound,0.086276,True,puppo
6332,859607811541651456,NaN,NaN,2017-05-03 03:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Sorry for the lack of posts today. I came home...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/859607811...,...,golden_retriever,0.895529,True,Irish_setter,0.024099,True,Labrador_retriever,0.019285,True,puppo
6538,819952236453363712,NaN,NaN,2017-01-13 17:00:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. He has dreams of being a servi...,NaN,NaN,NaN,"https://www.gofundme.com/servicedogoliver,http...",...,American_Staffordshire_terrier,0.925505,True,Staffordshire_bullterrier,0.036221,True,Italian_greyhound,0.020412,True,puppo
6637,803773340896923648,NaN,NaN,2016-11-30 01:31:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Diogi. He fell in the pool as soon as ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/803773340...,...,miniature_pinscher,0.817066,True,redbone,0.059707,True,Irish_terrier,0.034195,True,puppo
6780,780931614150983680,NaN,NaN,2016-09-28 00:46:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I want to finally rate this iconic puppo who t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/780931614...,...,padlock,0.731564,False,necklace,0.065462,False,chain,0.036469,False,puppo
6742,787717603741622272,NaN,NaN,2016-10-16 18:11:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tonks. She is a service puppo. Can hea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/787717603...,...,German_shepherd,0.992339,True,malinois,0.004920,True,kelpie,0.000853,True,puppo
6258,878776093423087618,NaN,NaN,2017-06-25 00:45:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Snoopy. He's a proud #PrideMonthPuppo....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/878776093...,...,Italian_greyhound,0.734684,True,whippet,0.150487,True,Ibizan_hound,0.039725,True,puppo
7046,743253157753532416,NaN,NaN,2016-06-16 01:25:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Kilo. He cannot reach the snackum. Nif...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/743253157...,...,malamute,0.442612,True,Siberian_husky,0.368137,True,Eskimo_dog,0.177822,True,puppo
6301,867421006826221569,NaN,NaN,2017-05-24 16:44:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Shikha. She just watched you drop a sk...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/867421006...,...,Eskimo_dog,0.616457,True,Siberian_husky,0.381330,True,malamute,0.001670,True,puppo
6706,793195938047070209,NaN,NaN,2016-10-31 21:00:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Lily. She's pupset that her costu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/793195938...,...,Labrador_retriever,0.654762,True,golden_retriever,0.074100,True,Chihuahua,0.042339,True,puppo
6722,790946055508652032,NaN,NaN,2016-10-25 16:00:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Betty. She's assisting with the dishes...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/790946055...,...,dishwasher,0.700466,False,golden_retriever,0.245773,True,chow,0.039012,True,puppo
7035,744995568523612160,NaN,NaN,2016-06-20 20:49:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Abby. She got her face stuck in a glas...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/744995568...,...,Old_English_sheepdog,0.427481,True,Shih-Tzu,0.146336,True,Tibetan_terrier,0.134269,True,puppo
6506,825026590719483904,NaN,NaN,2017-01-27 17:04:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Pablo. He's one gorgeous puppo. A...,NaN,NaN,NaN,https://www.gofundme.com/my-puppys-double-cata...,...,Eskimo_dog,0.524454,True,Siberian_husky,0.467678,True,malamute,0.004976,True,puppo
6275,874012996292530176,NaN,NaN,2017-06-11 21:18:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sebastian. He can't see all the colors...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/874012996...,...,Cardigan,0.806674,True,Pembroke,0.116622,True,kelpie,0.049182,True,puppo
6647,802239329049477120,NaN,NaN,2016-11-25 19:55:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Loki. He'll do your taxes for you. Can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/802239329...,...,Eskimo_dog,0.482498,True,Siberian_husky,0.335774,True,malamute,0.134589,True,puppo
6973,751132876104687617,NaN,NaN,2016-07-07 19:16:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cooper. He's just so damn happy. 10/10...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751132876...,...,Labrador_retriever,0.929390,True,Chesapeake_Bay_retriever,0.038254,True,golden_retriever,0.007610,True,puppo

##### Test

In [178]:
'number of retweedted {}.'.format(len(df_twitter_archive_clean[df_twitter_archive_clean.retweeted_status_id.notnull()]))

'number of retweedted 0.'

#### Issue #2: Source should be friendly to read

##### Define
Remove the markup from the value.

In [179]:
df_twitter_archive_clean['source'].value_counts(), len(df_twitter_archive_clean)

(<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1952
 <a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       28
 <a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      10
 Name: source, dtype: int64, 1990)

##### Code

In [180]:
df_twitter_archive_clean.loc[df_twitter_archive_clean.source.str.contains('iphone'),'source'] = 'iPhone'
df_twitter_archive_clean.loc[df_twitter_archive_clean.source.str.contains('vine'),'source'] = 'Vine'
df_twitter_archive_clean.loc[df_twitter_archive_clean.source.str.contains('twitter.com'),'source'] = 'Twitter Web'
df_twitter_archive_clean.loc[df_twitter_archive_clean.source.str.contains('tweetdeck'),'source'] = 'TwitterDeck'

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

##### Test

In [181]:
df_twitter_archive_clean['source'].value_counts(), len(df_twitter_archive_clean)

(iPhone         1952
 Twitter Web      38
 Name: source, dtype: int64, 1990)

#### Issue #3: Fix wrong cateogry type in twitter archive

##### Define

Change type of `source` and `life_stage` to category.

##### Code

In [182]:
df_twitter_archive_clean['source'] = df_twitter_archive_clean['source'].astype('category')
df_twitter_archive_clean['life_stage'] = df_twitter_archive_clean['life_stage'].astype('category')

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

##### Test

In [183]:
df_twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1990 entries, 1988 to 6973
Data columns (total 27 columns):
tweet_id                      1990 non-null int64
in_reply_to_status_id         23 non-null float64
in_reply_to_user_id           23 non-null float64
timestamp                     1990 non-null object
source                        1990 non-null category
text                          1990 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1990 non-null object
rating_numerator              1990 non-null int64
rating_denominator            1990 non-null int64
name                          1990 non-null object
favorite_count                1990 non-null int64
retweet_count                 1990 non-null int64
jpg_url                       1990 non-null object
img_num                       1990 non-null int64
p1                            1990 non-null object
p1_conf                       1990 non-null float64
p1_dog                        1990 non-null bool
p2                            1990 non-null object
p2_conf                       1990 non-null float64
p2_dog                        1990 non-null bool
p3                            1990 non-null object
p3_conf                       1990 non-null float64
p3_dog                        1990 non-null bool
life_stage                    1990 non-null category
dtypes: bool(3), category(2), float64(7), int64(6), object(9)
memory usage: 367.8+ KB

#### Issue #4: Fix wrong temporal type in twitter archive

##### Define
Change columns `timestamp` and `retweeted_status_timestamp` to Datatime.

##### Code

In [184]:
df_twitter_archive_clean['timestamp'] = pd.to_datetime(df_twitter_archive_clean.timestamp)
df_twitter_archive_clean['retweeted_status_timestamp'] = pd.to_datetime(df_twitter_archive_clean.retweeted_status_timestamp)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

##### Test

In [185]:
df_twitter_archive_clean.dtypes

tweet_id                               int64
in_reply_to_status_id                float64
in_reply_to_user_id                  float64
timestamp                     datetime64[ns]
source                              category
text                                  object
retweeted_status_id                  float64
retweeted_status_user_id             float64
retweeted_status_timestamp    datetime64[ns]
expanded_urls                         object
rating_numerator                       int64
rating_denominator                     int64
name                                  object
favorite_count                         int64
retweet_count                          int64
jpg_url                               object
img_num                                int64
p1                                    object
p1_conf                              float64
p1_dog                                  bool
p2                                    object
p2_conf                              float64
p2_dog                                  bool
p3                                    object
p3_conf                              float64
p3_dog                                  bool
life_stage                          category
dtype: object

In [186]:
df_twitter_archive_clean.head(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,life_stage
1988,667435689202614272,NaN,NaN,2015-11-19 20:14:03,iPhone,Ermergerd 12/10 https://t.co/PQni2sjPsm,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667435689...,...,Rottweiler,0.999091,True,miniature_pinscher,0.000450,True,black-and-tan_coonhound,0.000157,True,None
1987,667437278097252352,NaN,NaN,2015-11-19 20:20:22,iPhone,Never seen this breed before. Very pointy pup....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667437278...,...,porcupine,0.989154,False,bath_towel,0.006300,False,badger,0.000966,False,None
1986,667443425659232256,NaN,NaN,2015-11-19 20:44:47,iPhone,Exotic dog here. Long neck. Weird paws. Obsess...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667443425...,...,goose,0.980815,False,drake,0.006918,False,hen,0.005255,False,None
1985,667453023279554560,NaN,NaN,2015-11-19 21:22:56,Twitter Web,Meet Cupcake. I would do unspeakable things fo...,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667453023...,...,Labrador_retriever,0.825670,True,French_bulldog,0.056639,True,Staffordshire_bullterrier,0.054018,True,None
1984,667455448082227200,NaN,NaN,2015-11-19 21:32:34,Twitter Web,This is Reese and Twips. Reese protects Twips....,NaN,NaN,NaT,https://twitter.com/dog_rates/status/667455448...,...,Tibetan_terrier,0.676376,True,Irish_terrier,0.054933,True,Yorkshire_terrier,0.040576,True,None

#### Issue #5: Fix rating

##### Define
Assign 10 to the column `rating_denominator`
Extract the decimal of `rating_numerator` from `text` when necessary.

##### Code

In [187]:
# Rating denominator
df_twitter_archive_clean.rating_denominator = 10

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [188]:
# Display which of the rating numerator need to be fix
df_decimals = df_twitter_archive_clean[df_twitter_archive_clean.text.str.contains(r"(\d+\.\d*\/\d+)")]
ratings = df_decimals.text.str.extract('((?:\d+\.)?\d+)\/(\d+)', expand=True).rename(columns={0: 'extract_rating_numerator', 1: 'extract_rating_denominator'})
tweet_id_ratings = pd.concat([df_decimals[['tweet_id','rating_numerator']],ratings], axis=1)
tweet_id_ratings

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,tweet_id,rating_numerator,extract_rating_numerator,extract_rating_denominator
40,883482846933004288,5,13.5,10
3509,680494726643068929,26,11.26,10
2616,786709082849828864,75,9.75,10
4737,778027034220126208,27,11.27,10

In [189]:
# Apply the fix
for tweet_id in df_decimals.tweet_id:
    df_twitter_archive_clean.loc[df_twitter_archive_clean.tweet_id == tweet_id, 'rating_numerator'] = tweet_id_ratings.extract_rating_numerator

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

##### Test

In [190]:
df_twitter_archive_clean.rating_denominator.value_counts()

10    1990
Name: rating_denominator, dtype: int64

In [191]:
df_twitter_archive_clean[df_twitter_archive_clean.text.str.contains(r"(\d+\.\d*\/\d+)")][['tweet_id','rating_numerator']]

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

                tweet_id rating_numerator
40    883482846933004288             13.5
3509  680494726643068929            11.26
2616  786709082849828864             9.75
4737  778027034220126208            11.27

#### Issue #6: Remove columns related to retweet

##### Define
Remove columns `retweeted_status_id`, `retweeted_status_user_id` and `retweeted_status_timestamp`

##### Code

In [192]:
df_twitter_archive_clean = df_twitter_archive_clean.drop(['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis=1)

##### Test

In [193]:
df_twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1990 entries, 1988 to 6973
Data columns (total 24 columns):
tweet_id                 1990 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                1990 non-null datetime64[ns]
source                   1990 non-null category
text                     1990 non-null object
expanded_urls            1990 non-null object
rating_numerator         1990 non-null object
rating_denominator       1990 non-null int64
name                     1990 non-null object
favorite_count           1990 non-null int64
retweet_count            1990 non-null int64
jpg_url                  1990 non-null object
img_num                  1990 non-null int64
p1                       1990 non-null object
p1_conf                  1990 non-null float64
p1_dog                   1990 non-null bool
p2                       1990 non-null object
p2_conf                  1990 non-null float64
p2_dog                   1990 non-null bool
p3                       1990 non-null object
p3_conf                  1990 non-null float64
p3_dog                   1990 non-null bool
life_stage               1990 non-null category
dtypes: bool(3), category(2), datetime64[ns](1), float64(5), int64(5), object(8)
memory usage: 321.1+ KB

#### Issue #7: Name contains invalid value

##### Define
Replace 'None' by NaN
Replace single letter name by NaN

##### Code

In [194]:
df_twitter_archive_clean.loc[df_twitter_archive_clean['name'].str.len() < 2, 'name'] = np.NaN
df_twitter_archive_clean.loc[df_twitter_archive_clean['name'] == 'None', 'name'] = np.NaN

##### Test

In [195]:
df_twitter_archive_clean[df_twitter_archive_clean['name'] == "None"]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, favorite_count, retweet_count, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog, life_stage]
Index: []

[0 rows x 24 columns]

In [196]:
df_twitter_archive_clean[df_twitter_archive_clean['name'].str.len() < 2]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, favorite_count, retweet_count, jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog, life_stage]
Index: []

[0 rows x 24 columns]

#### Issue #8: Float instead of int

##### Define
Columns `in_reply_to_status_id`, `in_reply_to_user_id` as int.

##### Code

In [197]:
df_twitter_archive_clean['in_reply_to_status_id'].fillna(0, inplace=True)
df_twitter_archive_clean['in_reply_to_status_id'] = df_twitter_archive_clean['in_reply_to_status_id'].astype(int)

df_twitter_archive_clean['in_reply_to_user_id'].fillna(0, inplace=True)
df_twitter_archive_clean['in_reply_to_user_id'] = df_twitter_archive_clean['in_reply_to_user_id'].astype(int)

##### Test

In [198]:
df_twitter_archive_clean.dtypes

tweet_id                          int64
in_reply_to_status_id             int64
in_reply_to_user_id               int64
timestamp                datetime64[ns]
source                         category
text                             object
expanded_urls                    object
rating_numerator                 object
rating_denominator                int64
name                             object
favorite_count                    int64
retweet_count                     int64
jpg_url                          object
img_num                           int64
p1                               object
p1_conf                         float64
p1_dog                             bool
p2                               object
p2_conf                         float64
p2_dog                             bool
p3                               object
p3_conf                         float64
p3_dog                             bool
life_stage                     category
dtype: object

In [199]:
df_twitter_archive_clean.in_reply_to_status_id.value_counts()

0                     1967
667152164079423488       2
667806454573760512       1
692041934689402880       1
670668383499735040       1
675349384339542016       1
674752233200820224       1
684481074559381504       1
674999807681908736       1
729113531270991872       1
703041949650034688       1
671561002136281088       1
759099523532779520       1
733109485275860992       1
703255935813287936       1
691416866452082688       1
675707330206547968       1
746885919387574272       1
674793399141146624       1
675497103322386432       1
684222868335505408       1
855818117272018944       1
671729906628341760       1
Name: in_reply_to_status_id, dtype: int64

### Store the clean data

In [200]:
df_twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1990 entries, 1988 to 6973
Data columns (total 24 columns):
tweet_id                 1990 non-null int64
in_reply_to_status_id    1990 non-null int64
in_reply_to_user_id      1990 non-null int64
timestamp                1990 non-null datetime64[ns]
source                   1990 non-null category
text                     1990 non-null object
expanded_urls            1990 non-null object
rating_numerator         1990 non-null object
rating_denominator       1990 non-null int64
name                     1388 non-null object
favorite_count           1990 non-null int64
retweet_count            1990 non-null int64
jpg_url                  1990 non-null object
img_num                  1990 non-null int64
p1                       1990 non-null object
p1_conf                  1990 non-null float64
p1_dog                   1990 non-null bool
p2                       1990 non-null object
p2_conf                  1990 non-null float64
p2_dog                   1990 non-null bool
p3                       1990 non-null object
p3_conf                  1990 non-null float64
p3_dog                   1990 non-null bool
life_stage               1990 non-null category
dtypes: bool(3), category(2), datetime64[ns](1), float64(3), int64(7), object(8)
memory usage: 321.1+ KB

In [201]:
df_twitter_archive_clean.to_csv('twitter_archive_master.csv', encoding='utf-8', index=False)